// Paleta de Cores
$cor-primaria: #16A34A; // Verde (Cor / Contorno - Botão)
$cor-secundaria: #2563EB; // Azul (Cor - Circulo com Nº e Botão Adquirir)
$cor-neutra-fundo: #F0FDF4; // Branco (Fundo Geral - corpo texto botões)
$cor-fundo-caixas: #F3F5F8; // Fundo das Caixas (Ex: Cards - azul claro)
$cor-titulo: #1F2937; // Cinza Escuro (Título / Cor corpo Texto Principal)
$cor-texto: #4B5563; // Preto (Texto menor dentro dos cards)
$cor-subtitulo: #4B5563; // Cinza (Subtítulo / Texto Secundário)


// Fontes e tamanhos
p , a {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
}


// -------------------------------------------------------------------------------------------------------
// MOBILE-FIRST - HEADER min-375px
// -------------------------------------------------------------------------------------------------------

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    font-size: small;
    font-weight: 600;
    transition: all 0.3s ease; // Transição para o hover
    color: $cor-subtitulo;

        transition: all 0.3s ease; //Transição para o hover

        &:hover {    
        color: $cor-primaria; // Muda a cor para a cor primária no hover
    }
}

button {
    border: none;
    cursor: pointer;
}

body {
    padding: 0 10px;
}

.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $cor-subtitulo;
    padding: 30px 0 10px 0;

    img {
        width: 200px;
    }

    .header__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 15px;

        .link-navigation {
            display: flex;
            gap: 10px;
            font-size: 16px;
        }

        .start-now-button {
            display: flex;
            flex-wrap: wrap;
            width: 120px;
            padding: 15px 10px;
            background-color: $cor-primaria;
            border-radius: 6px;
            color: $cor-neutra-fundo;

            transition: all 0.3s ease; /* Transição para o hover */

            &:hover {    
            background-color: darken($cor-primaria, 10%); /* Escurece 10% no hover */
        }
    }
}
}

// -------------------------------------------------------------------------------------------------------
// MOBILE FIRTS - HERO min-375px
// -------------------------------------------------------------------------------------------------------

.hero {
    // Alinhamento principal (alinhando em coluna- column para mobile e linha -row para desktop)
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .hero-top {
        display: flex;
        flex-direction: column;
        align-items: center; //Centraliza o texto e botões

        h1 {
            color: $cor-titulo;
            margin-top: 20px;
            width: 678;
            height: 139;
            font-style: Bold;
            font-size: 2rem;
            text-align: center;
            font-family: Poppins, sans-serif;
            font-weight: 700;
            line-height: 130%;
        }

        p {
            color: #4B5563;
            margin-top: 10px;
            text-align: center;
            max-width: 80%; // Limitando a largura do texto para melhor leitura
            margin-bottom: 15px;
        }
    }
    
    // Contêiner de Botões: Usa Flexbox para alinhamento horizontal
    .container__hero-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }
    
    // Imagem da Seção
    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px; // Espaço entre botões e imagem

        img {
            width: 70%;
            max-width: 350px; // Limita o tamanho da imagem em telas maiores
        }
    }
}

    // Botões quero doar / adquirir
    button { 
        width: 150px;
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        border-radius: 6px;
        font-weight: 600;
        transition: all 0.3s ease; /* Transição para o hover */
    }

    // 1. Botão Primário (Cor Verde: Doar)
    .btn-primario {
        background-color: $cor-primaria;
        color: $cor-neutra-fundo;
        border: none;
        
        &:hover {    
        background-color: darken($cor-primaria, 10%); /* Escurece 10% no hover */
    }
}

    // 2. Botão Secundário (Cor Azul: Adquirir)
    .btn-secundario {
        background-color: $cor-neutra-fundo;
        color: $cor-secundaria; 
        border: 1px solid $cor-secundaria; /* Borda da cor secundária */
        
        &:hover {
            background-color: lighten($cor-secundaria, 40%); /* Fundo levemente azul no hover */
        }
    }
    

// -------------------------------------------------------------------------------------------------------
// MOBILE FIRTS - CONTAINER METRICAS min-375px
// -------------------------------------------------------------------------------------------------------

.container__metrics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;
    gap: 10px;

    background-color: $cor-fundo-caixas;
    
    .eletronicosDoados {
        display: flex;
        flex-direction: column;

        h2 {
            color: $cor-primaria;
            font-size: 2rem;
            font-weight: bold;
            font-weight: 700;
            text-align: center;
        }

        p {
            color: $cor-texto;
            font-size: 1rem;
            text-align: center;
        }
    }

    .familiasBeneficiadas {
        display: flex;
        flex-direction: column;

        h2 {
            color: $cor-primaria;
            font-size: 2rem;
            font-weight: bold;
            font-weight: 700;
            text-align: center;
        }

        p {
            color: $cor-texto;
            font-size: 1rem;
            text-align: center;
        }
    }

    .satisfacaoUsuarios {
        display: flex;
        flex-direction: column;

        h2 {
            color: $cor-primaria;
            font-size: 2rem;
            font-weight: bold;
            font-weight: 700;
            text-align: center;
        }

        p {
            color: $cor-texto;
            font-size: 1rem;
            text-align: center;
        }
    }
}


// -------------------------------------------------------------------------------------------------------
// MOBILE CONTAINER COMO FUNCIONA min-375px
// -------------------------------------------------------------------------------------------------------
h2, p {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h2{
        font-size: 2rem;
    }

    .public-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    }
    

    // section doar
    .title-icon-doar {
        justify-content: flex-start;
        h2 {color: $cor-titulo;}
        img {
            grid-area: auto;
        }
        
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .container__doadores {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        gap: 15px;
        background-color: $cor-fundo-caixas;

        p {
                font-size: 0.8rem;
                text-align: start;
                margin-inline-start: 40px;
                margin-top: -35px;
                justify-content: left;
            }

        .p-formatacao {
            font-size: 1rem;
            text-align: start;
            margin-inline-start: 0px;
            margin-top: 0px;
        }

        .cadastre {
            display: flex;
            align-items: center;
            h5 {
                margin-top: -10px;
            }
            img {
                padding: 5px;
            }
        }

        .aguarde {
            display: flex;
            align-items: center;
            h5 {
                margin-top: -10px;
            }
            img {
                padding: 5px;
            }
        }

        .combine {
            display: flex;
            align-items: center;
            h5 {
                margin-top: -10px;
            }
            img {
                padding: 5px;
            }
        }
    }
    
    // Section adquirir

    .title-icon-adquirir {
        justify-content: flex-start;
        h2 {color: $cor-titulo;}
        img {
            grid-area: auto;
        }
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .container__adquirentes {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        gap: 15px;
        background-color: $cor-fundo-caixas;

        p {
                font-size: 0.8rem;
                text-align: start;
                margin-inline-start: 40px;
                margin-top: -35px;
                justify-content: left;
            }

        .p-formatacao {
            font-size: 1rem;
            text-align: start;
            margin-inline-start: 0px;
            margin-top: 0px;
        }

        .explore {
            display: flex;
            align-items: center;
            h5 {
                margin-top: -10px;
            }
            img {
                padding: 5px;
            }
        }

        .interesse {
            display: flex;
            align-items: center;
            h5 {
                margin-top: -10px;
            }
            img {
                padding: 5px;
            }
        }

        .receba {
            display: flex;
            align-items: center;
            h5 {
                margin-top: -10px;
            }
            img {
                padding: 5px;
            }
        }
    }




















// -------------------------------------------------------------------------------------------------------
//
//
//                                      @MEDIA  SCREEN  DESKTOP
//                  Estilos para telas maiores que 1024px (notebooks e desktops)
//
//
// -------------------------------------------------------------------------------------------------------
// DESKTOP - HEADER min-1024px
// -------------------------------------------------------------------------------------------------------

@media (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1106px;
        margin: auto;

        img {
            height: 100%;
        }

        .header__navbar {
            justify-content: flex-end;
            gap: 20px;
        }
    }
}


// -------------------------------------------------------------------------------------------------------
// DESKTOP - HERO min-1024px
// -------------------------------------------------------------------------------------------------------
@media (min-width: 1024px) {
    .hero {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1106px;
        margin: auto;
        

        .hero-image {
            justify-content: center;
            gap: 20px;
        }

        img {
            height: 100%;
        }
    }

}


// -------------------------------------------------------------------------------------------------------
// DESKTOP - CONTAINER METRICS min-1024px
// -------------------------------------------------------------------------------------------------------
@media (min-width: 1024px) {
    .container__metrics {
        margin-top: 30px;
        padding: 15px;
        gap: 50px;
    }
}


// -------------------------------------------------------------------------------------------------------
// DESKTOP - CONTAINER COMO FUNCIONA min-1024px
// -------------------------------------------------------------------------------------------------------
@media (min-width: 1024px) {
.comoFunciona{

    .public-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        gap: 35px;
    }
}
}
