@charset "UTF-8";
p,
a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  font-size: small;
  font-weight: 600;
  transition: all 0.3s ease;
  color: #4B5563;
  transition: all 0.3s ease;
}
a:hover {
  color: #16A34A;
}

button {
  border: none;
  cursor: pointer;
}

body {
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #4B5563;
  padding: 30px 0 10px 0;
}
.header img {
  width: 200px;
}
.header .header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
.header .header__navbar .link-navigation {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.header .header__navbar .start-now-button {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  padding: 15px 10px;
  background-color: #16A34A;
  border-radius: 6px;
  color: #F0FDF4;
  transition: all 0.3s ease;
  /* Transição para o hover */
}
.header .header__navbar .start-now-button:hover {
  background-color: rgb(15.9351351351, 118.0648648649, 53.6);
  /* Escurece 10% no hover */
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-top h1 {
  color: #1F2937;
  margin-top: 20px;
  width: 678;
  height: 139;
  font-style: Bold;
  font-size: 2rem;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 130%;
}
.hero .hero-top p {
  color: #4B5563;
  margin-top: 10px;
  text-align: center;
  max-width: 80%;
  margin-bottom: 15px;
}
.hero .container__hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.hero .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.hero .hero-image img {
  width: 70%;
  max-width: 350px;
}

button {
  width: 150px;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.3s ease;
  /* Transição para o hover */
}

.btn-primario {
  background-color: #16A34A;
  color: #F0FDF4;
  border: none;
}
.btn-primario:hover {
  background-color: rgb(15.9351351351, 118.0648648649, 53.6);
}

.btn-secundario {
  background-color: #F0FDF4;
  color: #2563EB;
  border: 1px solid #2563EB;
  /* Borda da cor secundária */
}
.btn-secundario:hover {
  background-color: rgb(223.8571428571, 232.7142857143, 252.1428571429);
  /* Fundo levemente azul no hover */
}

.container__metrics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 5px;
  gap: 10px;
  background-color: #F3F5F8;
}
.container__metrics .eletronicosDoados {
  display: flex;
  flex-direction: column;
}
.container__metrics .eletronicosDoados h2 {
  color: #16A34A;
  font-size: 2rem;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
}
.container__metrics .eletronicosDoados p {
  color: #4B5563;
  font-size: 1rem;
  text-align: center;
}
.container__metrics .familiasBeneficiadas {
  display: flex;
  flex-direction: column;
}
.container__metrics .familiasBeneficiadas h2 {
  color: #16A34A;
  font-size: 2rem;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
}
.container__metrics .familiasBeneficiadas p {
  color: #4B5563;
  font-size: 1rem;
  text-align: center;
}
.container__metrics .satisfacaoUsuarios {
  display: flex;
  flex-direction: column;
}
.container__metrics .satisfacaoUsuarios h2 {
  color: #16A34A;
  font-size: 2rem;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
}
.container__metrics .satisfacaoUsuarios p {
  color: #4B5563;
  font-size: 1rem;
  text-align: center;
}

h2,
p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  color: #1F2937;
  font-size: 2rem;
}

.public-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.title-icon-doar {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 15px;
}
.title-icon-doar h2 {
  color: #1F2937;
}
.title-icon-doar img {
  grid-area: auto;
}

.container__doadores {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  gap: 15px;
  background-color: #F3F5F8;
}
.container__doadores p {
  font-size: 0.8rem;
  text-align: start;
  margin-inline-start: 40px;
  margin-top: -35px;
  justify-content: left;
}
.container__doadores .p-formatacao {
  font-size: 1rem;
  text-align: start;
  margin-inline-start: 0px;
  margin-top: 0px;
}
.container__doadores .cadastre {
  display: flex;
  align-items: center;
}
.container__doadores .cadastre h5 {
  margin-top: -10px;
}
.container__doadores .cadastre img {
  padding: 5px;
}
.container__doadores .aguarde {
  display: flex;
  align-items: center;
}
.container__doadores .aguarde h5 {
  margin-top: -10px;
}
.container__doadores .aguarde img {
  padding: 5px;
}
.container__doadores .combine {
  display: flex;
  align-items: center;
}
.container__doadores .combine h5 {
  margin-top: -10px;
}
.container__doadores .combine img {
  padding: 5px;
}

.title-icon-adquirir {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 15px;
}
.title-icon-adquirir h2 {
  color: #1F2937;
}
.title-icon-adquirir img {
  grid-area: auto;
}

.container__adquirentes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  gap: 15px;
  background-color: #F3F5F8;
}
.container__adquirentes p {
  font-size: 0.8rem;
  text-align: start;
  margin-inline-start: 40px;
  margin-top: -35px;
  justify-content: left;
}
.container__adquirentes .p-formatacao {
  font-size: 1rem;
  text-align: start;
  margin-inline-start: 0px;
  margin-top: 0px;
}
.container__adquirentes .explore {
  display: flex;
  align-items: center;
}
.container__adquirentes .explore h5 {
  margin-top: -10px;
}
.container__adquirentes .explore img {
  padding: 5px;
}
.container__adquirentes .interesse {
  display: flex;
  align-items: center;
}
.container__adquirentes .interesse h5 {
  margin-top: -10px;
}
.container__adquirentes .interesse img {
  padding: 5px;
}
.container__adquirentes .receba {
  display: flex;
  align-items: center;
}
.container__adquirentes .receba h5 {
  margin-top: -10px;
}
.container__adquirentes .receba img {
  padding: 5px;
}

.produtos {
  display: flex;
  flex-direction: column;
}
.produtos .produtos__h2-p {
  align-items: center;
}
.produtos .produtos__h2-p h2 {
  color: #1F2937;
  font-size: 1.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.produtos .container__produtos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  padding: 15px;
  margin: 20px;
  gap: 20px;
  background-color: #F3F5F8;
}
.produtos .frame__fone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produtos .card-fone {
  justify-items: center;
  padding: 10px;
  gap: 10px;
}
.produtos .card-fone h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.produtos .card-fone p {
  font-size: 0.85rem;
  text-align: center;
  padding: 5px;
}
.produtos .card-fone button {
  background-color: #16A34A;
  color: #F0FDF4;
  border: none;
}
.produtos .card-fone button:hover {
  background-color: rgb(15.9351351351, 118.0648648649, 53.6);
}
.produtos .frame__notebook {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produtos .card-notebook {
  justify-items: center;
  padding: 10px;
  gap: 10px;
}
.produtos .card-notebook h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.produtos .card-notebook p {
  font-size: 0.85rem;
  text-align: center;
  padding: 5px;
}
.produtos .card-notebook button {
  background-color: #16A34A;
  color: #F0FDF4;
  border: none;
}
.produtos .card-notebook button:hover {
  background-color: rgb(15.9351351351, 118.0648648649, 53.6);
}
.produtos .frame__smartphone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produtos .card-smartphone {
  justify-items: center;
  padding: 10px;
  gap: 10px;
}
.produtos .card-smartphone h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.produtos .card-smartphone p {
  font-size: 0.85rem;
  text-align: center;
  padding: 5px;
}
.produtos .card-smartphone button {
  background-color: #16A34A;
  color: #F0FDF4;
  border: none;
}
.produtos .card-smartphone button:hover {
  background-color: rgb(15.9351351351, 118.0648648649, 53.6);
}

.container__feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__feedback .feedback__h2-p {
  justify-content: center;
}
.container__feedback .feedback__h2-p h2, .container__feedback .feedback__h2-p p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container__feedback h2 {
  color: #1F2937;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.container__feedback .card__avaliacao-joao {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 15px;
  margin: 20px;
  gap: 20px;
  border: 2px solid #9CA3AF;
  border-radius: 10px;
  max-width: 290px;
}
.container__feedback .card__avaliacao-joao img {
  min-width: 9rem;
  max-width: 9rem;
}
.container__feedback .usuario-joao {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 15px;
}
.container__feedback .usuario-joao h2 {
  color: #1F2937;
}
.container__feedback .usuario-joao h5, .container__feedback .usuario-joao p {
  font-size: 0.9rem;
  text-align: center;
  justify-items: center;
}
.container__feedback .usuario-joao img {
  min-width: 2.5rem;
  max-width: 2.5rem;
}
.container__feedback .card__avaliacao-maria {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 15px;
  margin: 20px;
  gap: 20px;
  border: 2px solid #9CA3AF;
  border-radius: 10px;
  max-width: 290px;
}
.container__feedback .card__avaliacao-maria img {
  min-width: 9rem;
  max-width: 9rem;
}
.container__feedback .usuario-maria {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 15px;
}
.container__feedback .usuario-maria h2 {
  color: #1F2937;
}
.container__feedback .usuario-maria h5, .container__feedback .usuario-maria p {
  font-size: 0.9rem;
  text-align: center;
  justify-items: center;
}
.container__feedback .usuario-maria img {
  min-width: 2.5rem;
  max-width: 2.5rem;
}
.container__feedback .card__avaliacao-ana {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 15px;
  margin: 20px;
  gap: 20px;
  border: 2px solid #9CA3AF;
  border-radius: 10px;
  max-width: 290px;
}
.container__feedback .card__avaliacao-ana img {
  min-width: 9rem;
  max-width: 9rem;
}
.container__feedback .usuario-ana {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 15px;
}
.container__feedback .usuario-ana h2 {
  color: #1F2937;
}
.container__feedback .usuario-ana h5, .container__feedback .usuario-ana p {
  font-size: 0.9rem;
  text-align: center;
  justify-items: center;
}
.container__feedback .usuario-ana img {
  min-width: 2.5rem;
  max-width: 2.5rem;
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1106px;
    margin: auto;
  }
  .header img {
    height: 100%;
  }
  .header .header__navbar {
    justify-content: flex-end;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .hero {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1106px;
    margin: auto;
  }
  .hero .hero-image {
    justify-content: center;
    gap: 20px;
  }
  .hero img {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .container__metrics {
    margin-top: 30px;
    padding: 15px;
    gap: 50px;
  }
}
@media (min-width: 1024px) {
  .comoFunciona .public-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 35px;
  }
}
@media (min-width: 1024px) {
  .produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .produtos .container__produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
  }
  .frame__fone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }
}/*# sourceMappingURL=style.css.map */