
@import 'responsive/mediascreen.scss';

// Desktop Styles - HEADER
@media (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1106px;
        margin: auto;

        img {
            height: 100%;
        }

        .header__navbar {
            justify-content: flex-end;
            gap: 20px;
        }
    }
}

// -------------------------------------

// Desktop Styles - HERO SECTION
